doctype html
html
  head
    title International Space Station Realtime Tracker - ISS 2016
    
    meta(name="description" content="ISS - International Space Station realtime tracking 2016")
    meta(name="title" content="International Space Station Realtime Tracking 2016")
    meta(name="keywords" content="Iss, ISS, iss, International Space Station, Realtime, realtime, tracking, latitude, longitude, velocity, map, speed")
    meta(property="og:title" content="International Space Station Realtime Tracker - ISS 2016")
    meta(property="og:site_name" content="ISS tracking")
    meta(property="og:url" content="https://iss-tracker.herokuapp.com")
    meta(property="og:description" content="ISS - International Space Station realtime tracking 2016")



    link(href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200' rel='stylesheet' type='text/css')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
