body {
  background-color: black;
  
  padding: 0px;
  margin: 0px; 
  max-width: 1366px;

  font-family: 'Titillium Web','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 200;
  color: white;
}


h1 {
  font-weight: 400;
}

.top{
	margin: 0 auto;
  padding-bottom: 15px;
	background-image: url('/images/iss-banner.jpg');
	max-width: 1366px;
}

.stats {
  line-height: 85%;
}

#map {
	margin: 0 auto;
  margin-top: 5px;
	height: 500px;
	max-width: 1366px;
}
