
body {
  background-color: black;
  padding: 0px;
  margin: 0px; 
  height: 100%;
  width: 100%;
  font-family: 'Titillium Web','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  font-weight: 200;
  color: white;
}

#mainNav a {
  color: white !important;
  background-color: black;
}

.navbar-inverse {
  background-color: black !important;
}


h1 {
  font-weight: 400;
  padding-bottom: 35px;
}


.top{

  float: none;
  padding-top: 50px;
  margin-top: 50px;
  padding-bottom: 30px;
	background-image: url('/images/iss-banner.jpg');
	max-width: 1213px;
}

.stats {
  line-height: 85%;
  font-size: 115%;
}

#map {
  float: none;
	margin: 0 auto !important;
  margin-top: 5px !important;
	height: 500px;
	max-width: 1213px;
}
